1. Load your libraries, get your quandl key

In [1]:
# -*- coding: utf-8 -*-
"""
Created on Wed Sep  2 00:08:16 2020

@author: JNRix
"""
import quandl as q
import pandas as pd
import pyodbc
import urllib
from sqlalchemy import create_engine

q.ApiConfig.api_key = "NK5VXuCQ2udjooiGPg5z"

2. Set your database connection

In [2]:
connString = ('Driver={SQL Server Native Client 11.0};SERVER=localhost;Database=RixAnalytics;Trusted_Connection=yes')
quoted = urllib.parse.quote_plus(connString)
engine = create_engine('mssql+pyodbc:///?odbc_connect={}'.format(quoted))

3. Get the data from quandl into a pandas data frame

In [10]:
data = q.get("EIA/PET_RWTC_D")
crude = pd.DataFrame(data)
#Check the Crude dataframe
crude.count()
crude.head()

            Value
Date
1986-01-02  25.56
1986-01-03  26.00
1986-01-06  26.53
1986-01-07  25.85
1986-01-08  25.87

4. Load the crude data frame into the database

In [11]:
crude.to_sql('crude', schema='dbo', con = engine,if_exists='replace')

5. Check Results

In [6]:
crude_count = pd.read_sql("SELECT COUNT(*) count FROM crude", engine)
crude_count

   count
0   8753